
DB_PORT=
DB_NAME=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

MERCADO_PAGO_ACCESS_TOKEN=your_access_token_here
MP_WEBHOOK_SECRET=your_webhook_secret_here

NODE_ENV=development