
DB_PORT=
DB_NAME=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

MERCADO_PAGO_ACCESS_TOKEN=your_access_token_here
MP_WEBHOOK_SECRET=your_webhook_secret_here
MP_NOTIFICATION_URL=https://tu-ngrok-url.ngrok.io/payments/webhook
MP_BACK_URL_SUCCESS=http://localhost:4200/success
MP_BACK_URL_PENDING=http://localhost:4200/pending
MP_BACK_URL_FAILURE=http://localhost:4200/failure

NODE_ENV=development